" :nnoremap <Tab> >>
" :nnoremap <S-Tab> <<
" :vnoremap <Tab> > gv
" :vnoremap <S-Tab> < gv

:nnoremap \a :action ReformatCode<CR>
:nnoremap \g :action GotoImplementation<CR>

:nnoremap <C-a> :action CloseContent<CR>

nnoremap Q @q
